In [1]:
import os 
os.chdir('../../')
print("Current working directory is now: ", os.getcwd())

import pandas as pd 
import numpy as np
import csv

Current working directory is now:  C:\Users\binha\Documents\Duke\Cynthia Research\interpretable-machine-learning

In [2]:
### load data
data = pd.read_csv("~/Documents/Duke/Cynthia Research/data/ky-data/kentucky_data.csv")
labels = data.columns[-12:]

### base rate
base_rate = []
for i in labels:
    base_rate.append([i, round(np.mean(data[i]), 3)])
base_rate = pd.DataFrame(base_rate, columns=['label', 'base_rate'])

In [3]:
base_rate

                    label  base_rate
0        general_two_year      0.212
1           drug_two_year      0.090
2        violent_two_year      0.035
3         felony_two_year      0.100
4    misdemeanor_two_year      0.161
5       property_two_year      0.041
6       general_six_month      0.059
7          drug_six_month      0.021
8       violent_six_month      0.007
9        felony_six_month      0.025
10  misdemeanor_six_month      0.040
11     property_six_month      0.009